.contentProfile{    
    margin: 35px 0;
    text-align: center;
    cor: #fff;
}

.contentImg{
    display: block;
    margin: auto;
    width: 192px;
    height: 192px;
    background-image: url('../../assets/profile.png');
    background-size: cover;
    border-radius: 50%;
}    