a{
    text-decoration: none;
    color: #222831;
    background-color: #acacac;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 18px;
    position: relative;
    margin: 15px;
    transition: all 0.3s ease-in;
}

a:hover{
    transform: scale(1.03);
}

.contentLinks{
    width: 800px;
    margin: 10px;
}